@model CaseResultRecordsAPI;
@{
    ViewData["Title"] = "KhaiBaoToanDan";
}

<form asp-action="KhaiBaoToanDan">
    <div class="form-group">
        <label asp-for="Patient">Tên: </label>
        <input type="text" asp-for="Patient" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Age">Tuổi: </label>
        <input type="number" asp-for="Age" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Location">Tỉnh thành: </label>
        <input type="text" asp-for="Location" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Status">Trạng thái: </label>
        <input type="text" asp-for="Status" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Nationality">Quốc tịch: </label>
        <input type="text" asp-for="Nationality" class="form-control">
    </div>
    <div>
        <input type="submit">
    </div>
</form>