@{
    ViewData["Title"] = "Cảnh Báo";
}

<div>
    <div class="h1 text-danger text-center">
        CẢNH BÁO
        <br>
        Khu vực bạn đang sinh sống có ca nhiễm mới được phát hiện gần đây!!!
    </div>
    <div>
        <p class="h5">
            Phó Thủ tướng đề nghị người dân cần thực hiện thật tốt các hướng dẫn của cơ quan chuyên môn, thậm chí những hướng dẫn đòi hỏi mỗi người phải thay đổi một số thói quen và gây bất tiện. Trong đó đặc biệt lưu ý phải làm tốt một số điểm:
        </p>

        <ul class="list-group h6">
            <li class="list-group-item">Hạn chế tối đa ra ngoài, chỉ ra ngoài khi thực sự cần thiết</li>
            <li class="list-group-item">Nếu buộc phải ra ngoài luôn luôn đeo khẩu trang, hãy giữ khoảng cách tiếp xúc,
                tốt nhất là 2m</li>
            <li class="list-group-item">Thường xuyên rửa tay bằng xà phòng hoặc dung dịch sát khuẩn</li>
            <li class="list-group-item">Thường xuyên vệ sinh nhà cửa, lau rửa thường xuyên, để thông thoáng, sinh hoạt
                lành mạnh</li>
            <li class="list-group-item">Thực hiện khai báo y tế, cập nhật tình hình sức khỏe hàng ngày, giữ liên hệ
                thường xuyên với cán bộ y tế, cơ sở y tế</li>
        </ul>
    </div>
</div>
<a class="btn btn-secondary d-flex justify-content-center" asp-controller="Home" asp-action="Index">
    Quay về trang chủ
</a>