@{
    ViewData["Title"] = "Home Page";
}
<style>
    .map-container {
        position: absolute;
        top: clamp(9vh, 9%, 15vh);
        left: 0;
        right: 0;
        bottom:40vh;
    }

    .map-frame {
        border: 2px solid black;
        height: 100%;
    }

    #worldmap {
        height: 50vh;
    }
    #map{
        position: absolute;
        top:75%;
    }
</style>
<div class="map-container">
    <div class="map-frame">
        <div id="worldmap" data-value="@ViewBag.countries"></div>
    </div>
   
</div>
 
<script>
    var southWest = L.latLng(-89.98155760646617, -180),
        northEast = L.latLng(89.99346179538875, 180);
    var bounds = L.latLngBounds(southWest, northEast);
    var worldmap = L.map('worldmap', {
        center: [39.8282, -98.5795],
        maxBounds: bounds,
        zoom: 3
    });
    const tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 5,
        minZoom: 3,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });

    tiles.addTo(worldmap);
    var countries = $("#worldmap").data("value");

    var cases = [];
    for (const c of countries) {
        cases.push(c.cases);
    }
    for (const c of countries) {
        const lon = c.countryInfo.long;
        const lat = c.countryInfo.lat;
        const circle = L.circle([lat, lon], {
            radius: 1000000 * (c.cases / Math.max(...cases))
        });

        circle.bindPopup("<div style='text-align:center'><img class='img-thumbnail' src='" + c.countryInfo.flag + "'/><span><strong>" + c.country + "</strong></span></br><p>Cases: " + c.cases + " </p><p>Deaths: " + c.deaths + " </p><p>Recovered: " + c.recovered + " </p></div>");
        circle.addTo(worldmap);
    }



</script>
